/* ADDED */
.my-card {
  height: 350px;
  width: 350px;
}

.my-card__media {
  height: 825px;
  width: 825px;
}

#button-login {
  width: 100%;
}

.App, .login-container {
  text-align: center;
	justify-content: space-between;
  align-content: center;
}

.App-header {
  background-image: url("https://images.unsplash.com/photo-1506485338023-6ce5f36692df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=361443dfa9b671620076cd18e12d060d&auto=format&fit=crop&w=800&q=60");
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Monoton';
  color: white;
  font-size: 5em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: lighter;
}

#box1 {
  height: 5em;
  background-color: #e9e2cb;
  color: white;
}

.grid {
  background: #e9e2cb;
  height: 40em;
  padding-left: 14em;
  padding-right: 14em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* BELOW */

html {
  height: 100%;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
  background: #F1F1F1;
} */

/* Login Form */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1340px;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}

.login {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FAFAFA;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login header {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: -10px -10px 25px -10px;
  background: #4252AF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: #FAFAFA;
}

.login > header:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 5px;
  padding: 10px;
  margin: -10px 0 0 -10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.156);
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: transparent;
  z-index: 5;
}

.login.error_1 > header:before,
.login.error_2 > header:before {
  animation: error_before 3s cubic-bezier(.55, 0, .1, 1);
}

.login.error_1 > header:before {
  content: 'Invalid username or password!';
}

.login.error_2 > header:before {
  content: 'Invalid or expired Token!';
}

.login > header h2 {
  margin: 50px 0 10px 0;
}

.login > header h4 {
  font-size: 0.7em;
  animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
  color: rgba(255, 255, 255, 0.4);
}

/* Form */
.login-form {
  padding: 15px;
  box-sizing: border-box;
}


/* Inputs */
.login-input {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  margin: 0 0 25px 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: transparent;
  font-size: 1rem;
  font-family: 'Monoton', sans-serif;
  font-weight: 500;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
}

/* Submit Button */
.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
  margin: 35px -25px -25px -25px;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #4252AF;
  cursor: pointer;
  opacity: 1;
}

.link-name {
	justify-content: space-between;
  padding-left: 2em;
}

#card-title {
  background: gray;
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 5px 10px #c2c2c2;
}

#tracker-box {
  background-image: url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=800&q=60");
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height: 100%;
  padding: 220px;
}

.mdc-card__media-content {
  padding-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
}

.project-list {
  font-size: 45px;
  text-align: left;
}

#sign-up-button {
  margin-top: 3em;
  border: solid gray;
}
