<div class="row">
  <div class="col s12">
    <h1>Welcome!</h1>
  </div>
</div>
<div class="row">
  <div class="col s12">

      <h5 class="foreground">Have you ever wanted to track the time you've spent working on a repo in any given day, week, or month?</h5>
      <div class="col s12 l8">
        <img id="background" class="responsive-img" src="img/howdevswork.png">
      </div>
      <div class="col s12 l4">
        <img id="background" class="responsive-img" src="img/gengithublogin.png">
      </div>
      <p class="foreground">Well now you can, with RepoTracker!</p>
      <p class="foreground">Click Login to sign-in with your Github account and then begin logging your time!</p>
  </div>
</div>
