<div class="row">
  <div class="col s12">
    <h1>Welcome!</h1>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h5 class="foreground">With RepoTracker, you can track your total time spent working on a repository. </h5>
  </div>
</div>
<div class="row">
  <div class="col s12 l8 box">
    <img id="background" class="responsive-img" src="img/githubbackground.jpg">
    <div class="centered-text">Log in at the top right to get started. </div>
  </div>
  <div class="col s12 l4">
    <img id="background" class="responsive-img" src="img/gengithublogin.png">
  </div>
</div>
