<body>
  <h1>This is a show page</h1>
<!-- In this page we will render a individual repo, so a h1 that we will put in a
<% repo name thing%>, and then we will need a form to imput a name, a total amount of time worked
for an individual repo... -->

<!-- Below that, we will need a ul, with li items to populate the logs for the repo,
with individual items listing the time worked... -->

</body>
