<div class="row">
  <div class="col s12 l12">
    <h1><%= repo %></h1>
    <a href="/repos">Return to Repo List</a> <button data-target="modal1" class="btn modal-trigger">Log Time</button>

  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <h1>Time logs:</h1>
    <hr>
    <p>Here we will list, with a for loop..., the time logs, through a modal, with a list, using the minutes entered, the createAt time, and by linking the repoid to the specific log for the repo.. </p>
  </div>
</div>


<div id="modal1" class="modal">
    <div class="modal-content">
      <h3>Log your time:</h3>
      <form action="" method="post">
          <label>How many minutes have you logged on this Repo?
            <input type="text" name="minutes">
          </label>
          <input type="submit" value="Log Time">
      </form>
    </div>
  </div>
